<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex text-center items-center justify-center text-3xl pt-8">Avaliar "{{restaurant?.name}}"</div>

  <app-star-rating (ratingUpdated)="updateRating($event)"></app-star-rating>

  <div class="m-4">
    <ion-textarea [(ngModel)]="reviewText" rows="9" class="bg-gray-300 h-64 rounded-2xl px-4 " placeholder="Escreva o que achou sobre este restaurante"></ion-textarea>
  </div>

  <input type="file" id="review-file-input" accept="image/*" class="hidden">
  <div class="slideshow">
    <div class="no-images" *ngIf="images.length === 0">Nenhuma imagem adicionada</div>

    <div class="image-container" *ngFor="let image of images; index as i">
      <img [src]="image.b64" alt="">
      <span class="material-icons" (click)="images.splice(i, 1)">close</span>
    </div>
  </div>

  <div class="actions">
    <ion-button id="image-selection">Adicionar imagem</ion-button>
    <ion-button (click)="addReview()">Submeter</ion-button>
  </div>
</ion-content>
