<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurante</ion-title>
    <!-- Container for the heart icon -->
    <div class="absolute top-0 right-0 p-1 z-10">
      <ion-button fill="clear" (click)="toggleFavorite()">
        <span class="material-icons text-[--ion-color-primary]" *ngIf="isFavorite">favorite</span>
        <span class="material-icons text-[--ion-color-primary]" *ngIf="!isFavorite">favorite_border</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-center items-center h-full" *ngIf="restaurant === undefined; else content">
    <ion-spinner></ion-spinner>
  </div>

  <ng-template #content>
    <div>
      <div class="flex flex-row items-center justify-between p-4 gap-2">
        <div class="flex flex-col gap-2">
          <div class="font-semibold text-xl">{{ restaurant?.name }}</div>
          <div class="flex flex-row">
            <span class="material-icons text-[--ion-color-primary]">location_on</span>
            <div class="text-gray-500">{{ restaurant?.street }}</div>
          </div>
        </div>
        <div class="flex items-center gap-1">
          <div class="text-2xl font-bold">{{ restaurant?.avg === null ? '?' : restaurant?.avg!.toFixed(2)}}</div>
          <span class="material-icons-sharp text-yellow-400">star</span>
        </div>
      </div>
      <div class="flex w-full justify-center">Não existem imagens disponíveis</div>
      <div class="flex items-center justify-between p-4">
        <div>
          <div class="flex justify-center items-center gap-1">
            <span class="material-icons text-[--ion-color-primary]">schedule</span>
            <div>Aberto hoje</div>
          </div>
          <div>{{ getTodaySchedule() }}</div>
        </div>
        <div class="flex text-blue-500 gap-2">
          <span class="material-icons">turn_right</span>
          <a routerLink="/restaurant-location">Visitar restaurante</a>
        </div>
      </div>
      <div class="px-4">
        <app-restaurant-icons [restaurantAccessibility]="restaurant?.accessibility ?? []"></app-restaurant-icons>
      </div>

      <div class="flex justify-center items-center">
        <ion-button [routerLink]="'/reviews/' + restaurant?.id">Avaliações</ion-button>
      </div>
    </div>
  </ng-template>
</ion-content>
