<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-center items-center h-full" *ngIf="restaurant === undefined, else content">
    <ion-spinner></ion-spinner>
  </div>

  <ng-template #content>
    <div>
      <div class="flex flex-row items-center justify-between p-4 gap-2">
        <div class="flex flex-col gap-2">
          <div class="font-semibold text-xl">{{ restaurant?.name }}</div>
          <div class="flex flex-row">
            <span class="material-icons text-[--ion-color-primary]">location_on</span>
            <div class="text-gray-500">{{ restaurant?.street }}</div>
          </div>
        </div>
        <div class="flex items-center gap-1">
          <div class="text-2xl font-bold">?</div>
          <span class="material-icons-sharp text-gray-300">star</span>
        </div>
      </div>
      <div class="flex w-full justify-center">Não existem imagens disponíveis</div>
      <div class="flex items-center justify-between p-4">
        <div>
          <div class="flex justify-center items-center gap-1">
            <span class="material-icons text-[--ion-color-primary]">schedule</span>
            <div>Aberto hoje</div>
          </div>
          <div>{{ getTodaySchedule() }}</div>
        </div>
        <div class="flex text-blue-500 gap-2">
          <span class="material-icons">turn_right</span>
          <a routerLink="/restaurant-location">Visitar restaurante</a>
        </div>
      </div>
      <div class="px-4">
        [[ICONS]]
      </div>
      <div class="flex justify-center items-center">
        <ion-button [routerLink]="'/reviews/' + restaurant?.id">Avaliações</ion-button>
      </div>
      <div class="flex flex-row items-center justify-between my-4 mx-4">
        <div class="font-semibold">Outros Restaurantes</div>
        <div class="text-blue-500">Ver tudo ></div>
      </div>

      <!-- Outros Restaurantes secção -->
      <div class="space-y-4">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://picsum.photos/300/500" alt=""/>
          </ion-thumbnail>
          <ion-label>
            <h3>Braseiro das Mimosas</h3>
            <p>Abelheira, Viana do Castelo</p>
          </ion-label>
          <ion-button fill="outline" slot="end">Ver</ion-button>

          <ion-thumbnail slot="start">
            <img src="https://picsum.photos/300/500" alt=""/>
          </ion-thumbnail>
          <ion-label>
            <h3>McDonald's</h3>
            <p>Papanata, Viana do Castelo</p>
          </ion-label>
          <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>
      </div>
    </div>
  </ng-template>
</ion-content>
