<div class="flex flex-col w-full h-full items-center overflow-scroll">
  <div class="flex flex-col w-full relative">
    <img class="h-48 object-cover" src="https://picsum.photos/400/600" alt="">
    <div class="profile-picture-wrapper" id="profile-picture">
      <div *ngIf="profile_picture === null; else profilePicture">
        <ion-spinner></ion-spinner>
      </div>
      <ng-template #profilePicture>
        <img [src]="profile_picture" alt="">
      </ng-template>
      <span class="material-icons">photo_camera</span>
      <input type="file" id="profile-file-input" accept="image/*" class="hidden">
    </div>
  </div>
  <div class="pt-16 pb-8 text-xl font-semibold">{{ name_placeholder }}</div>
  <form class="flex flex-col gap-4">
    <div class="input">
      <label for="name">Nome</label>
      <div>
        <span class="material-icons">person</span>
        <ion-input [(ngModel)]="name" name="name" id="name" [placeholder]="name_placeholder"></ion-input>
      </div>
    </div>
    <div class="input">
      <label for="email">Email</label>
      <div>
        <span class="material-icons">email</span>
        <ion-input [(ngModel)]="email" name="email" id="email" [placeholder]="email_placeholder"></ion-input>
      </div>
    </div>
    <div class="input">
      <label for="password">Palavra-passe</label>
      <div>
        <span class="material-icons">lock</span>
        <ion-input [(ngModel)]="password" name="password" type="password" id="password"
                   placeholder="Palavra-passe nova"></ion-input>
      </div>
    </div>
    <div class="flex flex-col gap-0.5">
      <ion-button class="px-12" (click)="updateUser()">Guardar</ion-button>
      <ion-button class="px-12" (click)="signOut()">Terminar sessão</ion-button>
    </div>
  </form>
</div>
