<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="top-text">
    <div class="title">Bem-vindo!</div>
    <div>Insere as tuas credenciais para continuar.</div>
  </div>

  <form (ngSubmit)="signIn()" [formGroup]="credentials">

    <ion-item>
      <ion-label id="emailLabel" class="go-input-label" position="stacked">E-mail</ion-label>
      <ion-input
        aria-labelledby="emailLabel"
        type="email"
        inputmode="email"
        placeholder="Insere aqui o teu email"
        formControlName="email"
      ></ion-input>
      <ion-note slot="error"
                *ngIf="(email.dirty || email.touched) && email.errors"
      >Por favor insira o seu e-mail</ion-note>
    </ion-item>

    <ion-item>
      <ion-label id="passwordLabel" class="go-input-label" position="stacked">Palavra-passe</ion-label>
      <ion-input
        aria-labelledby="passwordLabel"
        type="password"
        inputmode="password"
        placeholder="Insere aqui a tua palavra-passe"
        formControlName="password"
      ></ion-input>
      <ion-note slot="error"
                *ngIf="(password.dirty || password.touched) && password.errors"
      >Por favor insira uma palavra-passe</ion-note>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="credentials.invalid"
      strong="true"
    >Entrar</ion-button>

    <div class="extra-actions">
      <ion-button routerLink="/register" color="secondary" expand="block">Registar</ion-button>
      <ion-button routerLink="/forgot-password" color="secondary" expand="block">Esqueci-me da palavra-passe</ion-button>
    </div>
  </form>
</ion-content>
