.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 1.5em;
  padding-top: .5em;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: #4B5563;
  text-align: center;
  padding: 0 1em 0 1em;
}

.congrats-text {
  padding-bottom: 2em;
}

.success-image {
  width: 16em;
  height: auto;
}

.next {
  --padding-top: 1.5em;
  --padding-start: 1.5em;
  --padding-end: 1.5em;
  --padding-bottom: 1.5em;
  width: 80%;
}
