<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <img class="success-image" ngSrc="assets/success.svg" height="130" width="228" alt="">
    <div class="congrats-text">
      <div class="title">Sucesso!</div>
      <div class="subtitle">Verifica o teu e-mail para confirmares a tua conta.</div>
    </div>
    <ion-button class="next"><a routerLink="/login">Iniciar sessão</a></ion-button>
  </div>
</ion-content>
