.go-input {
  background-color: #E2E0E0;
  border-radius: .5em;
  padding: 1em 1em 1em 1em;
  --padding-top: 1em;
  --padding-start: 1em;
  --padding-end: 1em;
  --padding-bottom: 1em;
}

.go-input-label {
  font-weight: 600;
}

.go-selection {
  border: 1px black solid;
  border-radius: 1em;
  padding: 1em;
  background-color: #E2E0E0;
  display: flex;
  gap: .75em;
}

.go-selection > ion-icon {
  color: #32B768;
  width: 1.5em;
  height: 1.5em;
}
