<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Avaliações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="review-header">
    <div class="font-semibold text-3xl">{{ restaurant?.name }}</div>
    <div class="rating">
      <div class="flex gap-1 items-center justify-center">
        <div class="text-2xl font-medium">{{ restaurant?.avg === null ? '?' : restaurant?.avg!.toFixed(2) }}</div>
        <ion-icon color="warning" name="star"></ion-icon>
      </div>
    </div>
    <ion-button color="success" routerLink="/new-review">
      <ion-icon slot="start" name="star-outline"></ion-icon>
      Avaliar
    </ion-button>
  </div>

  <ion-list>
    <div *ngIf="reviews === undefined, else noReviews" class="flex justify-center">
      <ion-spinner></ion-spinner>
    </div>

    <ng-template #noReviews>
      <div *ngIf="reviews?.length === 0, else reviewList" class="flex flex-col items-center justify-center">
        <div>Não existem avaliações</div>
        <div>Porque não adicionar uma?</div>
      </div>
    </ng-template>

    <ng-template #reviewList>
      <div class="text-gray-400 font-medium flex justify-center">
        {{ reviews?.length }} {{ reviews?.length === 1 ? 'avaliação' : 'avaliações' }}
      </div>

      <div class="flex flex-row justify-between m-2 bg-gray-100 items-center p-2 rounded-xl" *ngFor="let review of reviews" [routerLink]="'/userreview/' + review.id">
        <div class="flex gap-2">
          <img class="w-12 h-12 rounded-full" src="https://picsum.photos/400/600" alt="">
          <div>
            <h3 class="font-semibold">{{ review.name }}</h3>
            <p class="line-clamp-1 truncate">{{ review.text }}</p>
          </div>
        </div>
        <div>
          <ion-badge class="flex items-center justify-center gap-1 px-2" slot="end">
            <div class="text-lg">{{ review.rating }}</div>
            <span class="material-icons">star</span>
          </ion-badge>
        </div>
      </div>

<!--      <ion-item *ngFor="let review of reviews" [routerLink]="'/userreview/' + review.id">-->
<!--        <ion-avatar aria-hidden="true" slot="start">-->
<!--          <img src="https://picsum.photos/400/600" alt="">-->
<!--        </ion-avatar>-->
<!--        <ion-label>-->
<!--          <h3>{{ review.name }}</h3>-->
<!--          <p class="line-clamp-1 truncate">{{ review.text }}</p>-->
<!--        </ion-label>-->
<!--        <ion-badge class="flex items-center justify-center gap-1 px-2" slot="end">-->
<!--          <div class="text-lg">{{ review.rating }}</div>-->
<!--          <span class="material-icons">star</span>-->
<!--        </ion-badge>-->
<!--      </ion-item>-->
    </ng-template>
  </ion-list>
</ion-content>
