<ion-content [fullscreen]="true">
  <div class="main">
    <div class="top">
      <img src="assets/welcome.svg" alt="">
      <div class="welcome-text">
        <div class="title">Bem-vindo</div>
        <div class="subtitle">Antes de ter o prazer de usar esta app, primeiro precisa de se registar</div>
      </div>
    </div>
    <div class="actions">
      <ion-button size="large" routerLink="/register">Criar conta</ion-button>
      <ion-button size="large" routerLink="/login" color="secondary">Entrar</ion-button>
    </div>
  </div>
</ion-content>
