<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">restaurant-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <div class="flex flex-row items-center justify-between p-4">
      <div>
        <div class="font-semibold text-xl">Coral</div>
        <div class="flex flex-row">
          <span class="material-icons">location_on</span>
          <div>Praia do Coral, Viana do Castelo</div>
        </div>
      </div>
      <div class="flex">
        <div>4.5</div>
        <span class="material-icons">star</span>
      </div>
    </div>
    <div>[IMAGENS]</div>
    <div class="flex items-center justify-between p-4">
      <div>
        <div class="flex">
          <span class="material-icons">schedule</span>
          <div>Aberto hoje</div>
        </div>
        <div>10:00 - 02:00</div>
      </div>
      <div class="flex">
        <span class="material-icons">turn_right</span>
        <div>Visitar restaurante</div>
      </div>
    </div>
    <div>
      [[ICONS]]
    </div>
    <div class="flex justify-center items-center">
      <ion-button>Avaliações</ion-button>
    </div>
    <div class="flex flex-row items-center justify-between p-4">
      <div>Outros restaurantes</div>
      <div>Ver tudo ></div>
    </div>
    <div>
      [[LISTA DE RESTAURANTES]]
    </div>
  </div>
</ion-content>
