<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <span class="material-icons">home</span>
      Início
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <span class="material-icons">favorite</span>
      Favoritos
    </ion-tab-button>
    <ion-tab-button tab="restaurants">
      <span class="material-icons">restaurant_menu</span>
      Restaurantes
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <span class="material-icons">person</span>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
