.title {
  font-size: 1.5em;
  font-weight: 700;
}

.next {
  width: 100%;
  --padding-top: 1em;
  --padding-bottom: 1em;
  margin: 2em 0 1em 0;
}

.selection-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}
