<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="top-text">
    <div class="title">Esqueceste a palavra-passe?</div>
    <div>Escolhe aqui o método a renovares!</div>
  </div>

  <div class="selection-list">
    <div class="go-selection">
      <ion-icon name="mail"></ion-icon>
      E-mail
    </div>
    <div class="go-selection">
      <ion-icon name="call"></ion-icon>
      Número de telemóvel
    </div>
  </div>

  <ion-button class="next">Seguinte</ion-button>
</ion-content>
