<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Ver avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="loading, else content" class="flex justify-center items-center">
    <ion-spinner></ion-spinner>
  </div>

  <ng-template #content>
    <div class="userreview-header flex justify-between items-center m-4">
      <div>
        <div class="text-xl font-medium">Avaliação de “{{ user?.name }}”</div>
        <div class="review-rating flex items-center">
          <span class="text-2xl mr-2">{{ review?.rating }}</span>
          <span class="material-icons text-yellow-500">star</span>
        </div>
      </div>
      <div class="w-20 h-20 rounded-full">
        <img [src]="getReviewerPicture(review?.reviewer_id!)" class="rounded-full" alt="">
      </div>
    </div>

    <div class="review-content m-4">
      <p>{{ review?.text }}</p>
    </div>

    <app-slideshow [images]="reviewImages" />

    <div class="m-4">
      <p class="font-bold">Achou esta avaliação útil?</p>
      <div class="flex space-x-4 mt-2">
        <span class="material-icons">thumb_up</span>
        <span class="material-icons">thumb_down</span>
      </div>
    </div>
  </ng-template>
</ion-content>
