<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Ver avaliação</ion-title>
    <ion-buttons slot="end" class="pr-3" *ngIf="isOwnReview()">
      <span class="material-icons" (click)="deleteReview()">delete</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="loading, else content" class="flex justify-center items-center">
    <ion-spinner></ion-spinner>
  </div>

  <ng-template #content>
    <div class="userreview-header flex justify-between items-center m-4">
      <div>
        <div class="text-xl font-medium">Avaliação de “{{ user?.name }}”</div>
        <div class="review-rating flex items-center">
          <span class="text-2xl mr-2">{{ review?.rating }}</span>
          <span class="material-icons text-yellow-500">star</span>
        </div>
      </div>
      <div class="w-20 h-20 rounded-full">
        <img [src]="getReviewerPicture(review?.reviewer_id!)" class="w-full h-full object-cover rounded-full" alt="">
      </div>
    </div>

    <div class="review-content m-4">
      <p>{{ review?.text }}</p>
    </div>

    <app-slideshow [images]="reviewImages"/>

    <div class="m-4 flex flex-col justify-center items-center">
      <p class="font-bold">{{isOwnReview() ? 'Pontuação' : 'Achou esta avaliação útil?'}}</p>
      <div class="flex space-x-4 mt-2 items-center">
        <div>{{ reviewHelpfulnessScore?.helpful }}</div>
        <span [class]="'material-icons text-4xl ' + (helpful ? 'text-[--ion-color-primary]' : '')"
              (click)="updateReviewHelpfulness(true)">thumb_up</span>
        <span [class]="'material-icons text-4xl ' + (helpful == false ? 'text-[--ion-color-danger]' : '')"
              (click)="updateReviewHelpfulness(false)">thumb_down</span>
        <div>{{ reviewHelpfulnessScore?.not_helpful }}</div>
      </div>
    </div>
  </ng-template>
</ion-content>
