<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <app-navbar></app-navbar>

  <div class="flex flex-col gap-2 p-4">
    <div class="text-2xl font-semibold">Boa tarde, utilizador!</div>
    <div class="text-xl">Perto de si</div>
    <app-restaurant-card></app-restaurant-card>
    <div class="text-xl">Sugestões</div>
    <div class="overflow-hidden">
      <app-restaurant-card-simple></app-restaurant-card-simple>
      <app-restaurant-card-simple></app-restaurant-card-simple>
      <app-restaurant-card-simple></app-restaurant-card-simple>
    </div>
  </div>
</ion-content>
