<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <img class="success-image" ngSrc="assets/success.svg" height="130" width="228" alt="">
    <div class="congrats-text">
      <div class="title">Parabéns!</div>
      <div class="subtitle">Criaste a tua conta na GourmetGo!</div>
    </div>
    <ion-button class="next">Entrar na app</ion-button>
  </div>
</ion-content>
