<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="top-text">
    <div class="title">Registar</div>
    <div>Cria agora a tua conta!</div>
  </div>

  <form (ngSubmit)="signUp()" [formGroup]="credentials">
    <ion-item>
      <ion-label id="nameLabel" class="go-input-label" position="stacked">Nome</ion-label>
      <ion-input
        aria-labelledby="nameLabel"
        type="text"
        inputmode="text"
        placeholder="Nome de exibição"
        formControlName="name"
      ></ion-input>
      <ion-note slot="error"
                *ngIf="(name.dirty || name.touched) && name.errors"
      >Por favor insira um nome</ion-note>
    </ion-item>

    <ion-item>
      <ion-label id="emailLabel" class="go-input-label" position="stacked">E-mail</ion-label>
      <ion-input
        aria-labelledby="emailLabel"
        type="email"
        inputmode="email"
        placeholder="Insere aqui o teu email"
        formControlName="email"
      ></ion-input>
      <ion-note slot="error"
                *ngIf="(email.dirty || email.touched) && email.errors"
      >Por favor insira o seu e-mail</ion-note>
    </ion-item>

    <ion-item>
      <ion-label id="passwordLabel" class="go-input-label" position="stacked">Palavra-passe</ion-label>
      <ion-input
        aria-labelledby="passwordLabel"
        type="password"
        inputmode="password"
        placeholder="Insere aqui a tua palavra-passe"
        formControlName="password"
      ></ion-input>
      <ion-note slot="error"
                *ngIf="(password.dirty || password.touched) && password.errors"
      >Por favor insira uma palavra-passe</ion-note>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="credentials.invalid"
      strong="true"
    >Registar</ion-button>
  </form>

  <div class="extra-actions">
    <div class="ion-text-center">Já tens conta? <a routerLink="/login">Iniciar sessão</a></div>
  </div>
</ion-content>
