<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="top-text">
    <div class="title">Registar</div>
    <div>Cria agora a tua conta!</div>
  </div>

  <p class="go-input-label">Nome</p>
  <ion-input class="go-input" placeholder="Nome de exibição" [(ngModel)]="name"></ion-input>
  <p class="go-input-label">E-mail</p>
  <ion-input class="go-input" placeholder="Insere aqui o teu email" [(ngModel)]="email"></ion-input>
  <p class="go-input-label">Palavra-passe</p>
  <ion-input class="go-input" placeholder="Insere aqui a tua palavra-passe" [(ngModel)]="password"
             (click)="signUp()" [disabled]="loading"></ion-input>

  <ion-button class="register">Registar</ion-button>
  <div class="extra-actions">
    <div class="ion-text-center">Já tens conta? <a routerLink="/login">Entrar</a></div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="Erro ao criar conta"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
